body {
  font: normal 14px/1.5 Tahoma, Helvetica, Arial, \5b8b\4f53;
  color: #000;
  overflow: hidden;
}

#main {
  width: 250px;
  padding: 10px;
  border: 2px solid #08C;
  position: relative;
  *line-height: 1;
}

#close {
  border: 2px solid #08C;
  font-weight: bold;
  color: #FFF;
  background: #08C;
  width: 16px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  top: -2px;
  right: -2px;
  cursor: pointer;
}

#close:before {
  text-align: center;
  line-height: 16px;
  content: "\D7";
  display: block;
  width: 16px;
  height: 16px;
  position: relative;
  top: -1px;
}

h1 {
  line-height: 1;
  font-size: 19px;
  font-weight: bold;
}

#title {
  color: #08C;
  cursor: move;
}

.control-group:first-child {
  margin-top: 10px;
}

.form-horizontal .control-group {
  margin-bottom: 10px;
}

.form-horizontal .control-label {
  width: 60px;
  padding-top: 6px;
}

.form-horizontal .controls {
  margin-left: 70px;
}

label {
  font-size: 14px;
  margin-bottom: 0;
}

input {
  font-size: 14px;
  padding: 5px;
  width: 160px;
}

#key.default {
  color: #888;
}

#key.last {
  background: #FAFFBD;
}

.checkbox {
  padding-left: 10px;
}

.checkbox input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin: 2px 10px 0 0;
  border-radius: 3px;
  -webkit-appearance: none;
}

.checkbox input[type="checkbox"]:checked:after {
  content: url(../img/checkmark.png);
}

p, ul, li, #toolbar {
  margin: 0;
  font-size: 12px;
  font-family: inherit;
  line-height: 1.5;
}

#no-maxlength {
  position: relative;
  padding-top: 16px;
}

#no-maxlength-arrow {
  position: absolute;
  top:4px;
  left: 180px;
  width: 24px;
  height: 13px;
  overflow: hidden;
}

#no-maxlength-arrow:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 4px;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(45deg);
}

#no-maxlength-hint {
  padding: 8px;
  border-radius: 3px;
}

#no-maxlength-arrow:after, #no-maxlength-hint {
  background: #FEF1B6;
  border: 1px solid #D7D195;
}

a {
  cursor: pointer;
}

a img {
  vertical-align: middle;
  margin-right: 4px;
}

#toolbar {
  text-align: right;
}

#toolbar a {
  margin-left: 10px;
}

#hint li {
  color: #999;
  list-style: circle inside none;
}