body {
  overflow: hidden;
}

#main {
  width: 250px;
  padding: 10px;
  border: 2px solid #08C;
  position: relative;
  line-height: 1;
}

#close {
  border: 2px solid #08C;
  font-weight: bold;
  color: #FFF;
  background: #08C;
  width: 16px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  top: -2px;
  right: -2px;
  cursor: pointer;
}

#close:before {
  text-align: center;
  line-height: 16px;
  content: "\D7";
  display: block;
  width: 16px;
  height: 16px;
  position: relative;
  top: -1px;
}

#title {
  cursor: move;
}

.control-group:first-child {
  margin-top: 12px;
}

.form-horizontal .control-group {
  margin-bottom: 10px;
}

input {
  width: 160px;
}

#key.default {
  color: #888;
}

#key.last {
  background: #FAFFBD;
}

p, ul, li, #toolbar {
  margin: 0;
  font-size: 12px;
  font-family: inherit;
}

.alert {
  position: relative;
  margin: 16px 0 0;
  padding: 8px;
}

.alert .arrow {
  position: absolute;
  top: -12px;
  left: 180px;
  width: 24px;
  height: 13px;
  overflow: hidden;
}

.alert .arrow:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 4px;
  width: 16px;
  height: 16px;
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  -webkit-transform: rotate(45deg);
}

.alert .close {
  right: -2px;
  top: -6px;
  font-size: inherit;
}

a {
  cursor: pointer;
}

a img {
  vertical-align: middle;
  margin-right: 4px;
}

#toolbar {
  text-align: right;
}

#toolbar a {
  margin-left: 10px;
}

span.help {
  border-bottom: 1px dotted;
  cursor: help;
}