body {
  font: 14px/1.5 Tahoma, Helvetica, Arial, \5b8b\4f53;
  color: #000;
  text-align: center;
}

header {
  width: 540px;
  height: 50px;
  margin: 0 auto;
  text-align: left;
  border-bottom: 2px solid #08C;
}

header h1 {
  line-height: 48px;
  font-size: 32px;
  color: #08C;
}

#main {
  width: 540px;
  margin: 0 auto;
  text-align: left;
}

.control-group:first-child {
  margin-top: 18px;
}

label, input {
  font-size: 14px;
}

input {
  padding: 5px;
}

.checkbox input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin: 2px 10px 0 0;
  border-radius: 3px;
  -webkit-appearance: none;
}

.checkbox input[type="checkbox"]:checked::after {
  content: url(../img/checkmark.png);
}

.form-horizontal .control-label {
  width: 70px;
}

.form-horizontal .controls {
  margin-left: 80px;
}

p {
  font-size: 12px;
  font-family: inherit;
  color: #999;
  margin-bottom: 18px;
  text-align: left;
}

.center {
  text-align: center;
}

footer {
  margin: 18px auto;
  border-top: 2px solid #08C;
  padding: 5px 0 0;
  width: 540px;
}